* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  /* 10px = 1rem */
}
.indicator {
  margin-top: 80px;
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  background: linear-gradient(to right, #253898, #5737d6);
}
.indicator .navigation {
  /* border: 2px solid red; */
  padding: 10px;
  margin-left: 140px;
}
.navigation a {
  text-decoration: none;
  font-size: 2rem;
  font-family: "Fira Sans", sans-serif;
  color: #ffffff;
}
.navigation a:first-child {
  margin-right: 16px;
}
.navigation i {
  color: white;
}
.navigation a:last-child {
  margin-left: 16px;
}

/* content section */
.content {
  /* border: 2px solid red; */
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 50px 140px;
}
.formBox {
  /* border: 2px solid red; */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
}
.formBox form {
  /* border: 2px solid green; */
  padding: 30px;
  border-radius: 30px;
  width: 100%;
  height: inherit;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}
.formlables {
  font-size: 2rem;
  font-family: "Fira Sans", sans-serif;
  color: #758283;
  margin-bottom: 10px;
}
.inputfield {
  padding: 10px;
  border-radius: 9px;
  background: transparent;
  border: 1px solid #758283;
  outline: 0px;
  font-size: 1.8rem;
  font-family: "Fira Sans", sans-serif;
  color: var(--text-color--);
  margin-bottom: 20px;
}
.inputfield:focus {
  outline: none;
}
.inputfield option {
  color: var(--text-color--);
  background: transparent;
}
.map {
  /* border: 2px solid red; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0%, -50%);
}

/* media queries */

/* for tablet devices */
@media screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }
  .indicator .navigation {
    margin-left: 70px;
  }
  .content {
    padding: 50px 70px;
  }
  iframe {
    width: 300px;
    height: 280px;
  }
  .map {
    /* border: 2px solid red; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(20%, -50%);
  }
  .footItem {
    width: 178px;
    margin: 0.1rem;
  }
}

/* for large mobile */
@media screen and (max-width: 456px) {
  html {
    font-size: 45%;
  }
  .indicator .navigation {
    margin-left: 20px;
  }
  #menu {
    display: none;
    visibility: hidden;
  }
  .hamburger {
    display: block;
  }
  .content {
    padding: 50px 20px;
    /* border: 2px solid red; */
  }
  iframe {
    display: none;
  }
}

/* for medium mobile */
@media screen and (max-width: 375px) {
  html {
    font-size: 45%;
  }
  .formBox form {
    padding: 20px;
  }
  footer {
    justify-content: flex-start;
  }
  .footItem {
    padding: 7px;
    margin: 1px;
    width: 165px;
  }
}
